<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kunal.myapplication">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity"></activity>
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity android:name=".AccountActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".ControlsActivity" />
        <activity android:name=".DocumentActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".ImagesActivity" />
        <activity android:name=".ImageAdapter" />
        <activity android:name=".MainAdapter" />
        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".UserPopActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".VehiclePopActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
    </application>

</manifest>